<link rel="stylesheet" href="/css/franklin.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/celeste.min.css">

<link rel="icon" type="image/png" sizes="200x200" href="/assets/robot.png">
<!-- <link rel="shortcut icon" href="/assets/favicon.ico"> -->
<link rel="icon" type="image/png" sizes="152x152" href="/assets/robot_smaller_152x152.png">
<link rel="icon" type="image/x-icon" sizes="64x64" href="/assets/robot_smaller_64x64.png">
<link rel="icon" type="image/x-icon" sizes="32x32" href="/assets/robot_smaller_32x32.png">
<link rel="icon" type="image/png" sizes="64x64" href="/assets/robot_smaller_64x64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/robot_smaller_32x32.png">
<!-- <button class="copy-button">Copy</button> -->
<style>
  .code-block {
    position: relative;
    padding-top: 40px; /* Adjust as needed to create space for the button */
  }

  .copy-button {
    position: absolute;
    top: 42.5px; /* Adjust as needed */
    right: 45px; /* Adjust as needed */
    padding: 3px 10px 4px 10px;
    background-color: #017da5;
    color: white;
    border: none;
    border-radius: 5px; /* Make the border radius oval */
    cursor: pointer;
    font-size: 11px;
    <!-- background: linear-gradient(to right, white, grey) ;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; -->
  }

  .copy-button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 5px;
    background: linear-gradient(to right, white, grey);
    z-index: -1;
  }

  .copy-button:hover {
    background-color: #616161;
  }
</style>
